{{- range .Imports}}
{{- . }}
{{ end }}

export const options = {
  stages: [
    {{- range .Stages }}
    {{ . }},
    {{- end }}
  ]
}

{{if .Variables}}
{{- range $key, $value := .Variables }}
let {{ $key }} = {{ $value }};
{{- end }}
{{- end }}

export default function() {
  {{- range .Statements }}
  {{ . }}
  {{- end }}
}

{{- range .Processor }}
// {{ .Name }}
{{ .Content }}
{{- end }}