{{- range .Script.InitLifecycle.Imports}}
{{- . }}
{{ end }}

export const options = {
  stages: [
    {{- range .Script.InitLifecycle.Stages }}
    {{ . }},
    {{- end }}
  ]
}
{{ range .Script.InitLifecycle.Statements }}
{{ . }}{{- if . }};{{- end }}
{{- end }}

export default function() {
  {{- range .Script.VULifecycle.Statements }}
  {{ . }}{{- if . }};{{- end }}
  {{- end }}
}
{{ if .Config.EnvironmentsInUse }}
function {{ .Config.VariableFromEnvironmentFuncName }}(variableName) {
  return {{ .Config.PluralEnvironmentsName | ToLower }}[__ENV.{{ .Config.EnvironmentName | ToUpper }}]?.["variables"]?.[variableName] || globalThis[variableName];
}
{{- end }}

{{ if .Config.PayloadsInUse }}
async function {{ .Config.LoadCsvFunctionName }}(path, options) {
  let file = await {{ .Config.CsvOpenAlias }}(path);
  return await csv.parse(file, options);
}
{{- end }}

{{ if .Script.Processor }}
// Auto generated processors. These have been generated on a best-guess basis - please review them before use.
{{- range .Script.Processor }}
// {{ .Name }}
{{ .Content }}
{{- end }}
{{- end }}